server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      routes:
        - id: auth
          uri: http://auth-service:8081
          predicates:
            - Path=/auth/**
        - id: users
          uri: http://user-service:8082
          predicates:
            - Path=/users/**
        - id: subscriptions
          uri: http://subscription-service:8083
          predicates:
            - Path=/subscriptions/**
        - id: notifications
          uri: http://notification-service:8084
          predicates:
            - Path=/notifications/**

jwt:
  secret: ${JWT_SECRET:super-secret-256-bit-key-super-secret}

management:
  endpoints:
    web:
      exposure:
        include: health,info

