spring:
  application:
    name: user-service
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://mysql:3306/user_service}
    username: ${SPRING_DATASOURCE_USERNAME:akshat}
    password: ${SPRING_DATASOURCE_PASSWORD:password}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  flyway:
    enabled: true

kafka:
  bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:kafka:9092}
  consumer:
    group-id: user-service
    auto-offset-reset: earliest
  topics:
    user-created: user.created

security:
  identity:
    header-user-id: X-User-Id
    header-authorization: Authorization

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    com.subtrack.user_service: INFO

server:
  port: ${SERVER_PORT:8082}

